.hero {
    background-color: var(--block-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  
  .hero__container {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
  }